#include <windows.h>
#include "rsrc.h"

IDD_OPTIONS DIALOGEX 6,5,318,167
CAPTION "Опции SongStatus"
FONT 8,"Tahoma",400,0,204
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|DS_CENTER
BEGIN
  CONTROL "Порядок определения статуса",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,4,5,172,91
  CONTROL "",IDC_LIST1,"ListBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,8,16,116,76,WS_EX_CLIENTEDGE
  CONTROL "Вверх",IDC_MOVEUP,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,128,16,32,15
  CONTROL "Вниз",IDC_MOVEDOWN,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,128,35,32,15
  CONTROL "Добавить",IDC_ADD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,128,57,44,15
  CONTROL "Удалить",IDC_DEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,128,75,44,15
  CONTROL "Плееры:",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,184,5,130,91
  CONTROL "",IDC_LIST2,"ListBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,188,16,120,76,WS_EX_CLIENTEDGE
  CONTROL "OK",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,58,142,100,20
  CONTROL "Отмена",IDCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,166,142,100,20
  CONTROL "",IDC_CBACTION,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,12,116,150,89
  CONTROL "",IDC_ETEXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,170,116,132,13,WS_EX_CLIENTEDGE
  CONTROL "Когда плеер не найден или плагин остановлен:",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,4,101,310,37
END

IDD_ABOUT DIALOGEX 6,6,194,102
CAPTION "О плагине SongStatus"
FONT 8,"Tahoma",400,0,204
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|DS_CENTER
BEGIN
  CONTROL "Закрыть",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,66,81,60,17
  CONTROL "Отображение названия играющей в плеере музыки в статусе пользователя",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|SS_CENTER,6,3,180,46
  CONTROL "(c) Alexey Min, 2011",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|SS_CENTER,4,62,182,11
END

